*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('bcg1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.popUp{
    position: relative;
    margin-top: 300px;
    margin-left: 350px;
    width: 400px;
    height: 400px;
    display: flex;
    top: 0;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.1);
    align-items: center;
    visibility: hidden;
    transition: transform 0.4s , top 0.4s ;
    background-color: #333;
    padding: 30px;
}

.popUp .fas{
    
    margin-left: 900px;
    height: 450px;
    padding: 5px;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popUp .spinBtn{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;

}

.popUp .spinBtn::before{
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0% , 15% 100%, 85% 100%);
}

.popUp .wheel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333,
    0 0 0 15px #fff,
    0 0 0 18px #111;
    transition: transfrom 2s ease-in-out;
}

.popUp .wheel .number{
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin:bottom right ;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;

}

.popUp .wheel .number span{
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0,0,0,0.15);
}

.popUp .wheel .number span::before{
    content: '';
    position: absolute;
    font-size: 0.75em;
    font-weight: 500;
}

.btn{

    margin-left: 220px ;
    padding: 10px 60px ;
    background-color: #fff;
    border:0 ;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}